.fox{
    background-image:url(https://i.pinimg.com/originals/d0/27/3f/d0273ff62e66543d14490a19226eb296.jpg);
    background-position: center;
    /* background-repeat: repeat; */
    background-repeat:repeat;
    background-position-x:center;
    background-position-y:center;
    background-size: cover;
    height: 180vh;
}
/* https://i.pinimg.com/originals/16/6b/1d/166b1dba77140403e956a9cd5a8f363e.jpg */
.nav{
    width: 100vw;
    top: 0;
    height: 85px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e44b5d;
    z-index: 1000;
    /* border-bottom: 1px solid rgb(0, 0, 0); */
}

.nav h1{
    justify-content: center;
    margin-left: 220px;
}
.filtros{
    background-color: #e44b5d;
    display: flex;
    /* border-bottom: 1px solid rgb(0, 0, 0); */
    height: 80px;
    justify-content: space-between;
}



.barra{
    display: flex;
    text-align: center;
    justify-content: center;
    height: 50px;
    background-color: transparent;
    /* border-bottom: 1px solid rgb(0, 0, 0); */
}


.carta{
    text-align: center;
}
.conteiner{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 20px;
    height: 100vh;
    margin-top: 35px;
    margin-left: 40px;
}
.botonsito{
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}
.pot{
  text-align: center;
}

.tdo{
  text-align: center;
  justify-content: center;
}
.bot{
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 13px;
  font-weight: 500;
  line-height: 14px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word; 
}