body{
    background-image:url(https://i.pinimg.com/originals/05/94/ab/0594ab55baf44835f449a5a530b068c3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.caja{
    color: #090909;
    padding: 3px;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
    border: 1px solid white;
    box-shadow: 4px 4px 12px #c5c5c5,
             -4px -4px 12px #ffffff;
}

.ren{
    color: #090909;
    padding: 3px;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
    border: 1px solid white;
    box-shadow: 4px 4px 12px #c5c5c5,
             -4px -4px 12px #ffffff; 
}